.jobtree {
  height: 500px;
  width: 360px;
  color: #D7DCE0;
  padding: 2.2rem 2rem;
  border-bottom: 1px solid #506A75;
}

.jobtree .sub-color {
  color: #FEFFFF;
}

/* 自定义复选框 */

.jobtree .checkbox {
  height: 1em;
  width: 1em;
  border-radius: 4px;
  border: 1px solid #D7DCE0;
  display: inline-block;
  margin-right: 1em;
}

.jobtree .checkbox input {
  display: none;
}

.jobtree .checkbox.part,
.jobtree .checkbox.all{
  background: #D7DCE0;
}

/* 部分选择复选框内部样式 */

.jobtree .checkbox.part > div {
  display: block;
  height: 10%;
  width: 60%;
  background: #506A75;
  margin-top: 45%;
  margin-left: 20%;
}

/* 全选复选框内部样式 */
.jobtree .checkbox.all > div {
  display: block;
  height: 30%;
  width: 60%;
  border-left: 2px solid #506A75;
  border-bottom: 2px solid #506A75;
  margin-top: 20%;
  margin-left: 10%;
  transform: rotate(-45deg);
}

/* 头部样式 */

.jobtree > header h2 {
  display: inline-block;
  margin: 0;
}

.jobtree > header .btn {
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.jobtree > header .btn:hover {
  opacity: 0.7;
}


/* 树主体样式 */

.jobtree .body ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: none;
}

.jobtree .body .number {
  float: right;
}


/* 部门组件样式 */

.jobtree .department {
  margin-top: 1rem;
}

.jobtree .depart-header .name {
  font-weight: bold;
  margin-right: 1em;
}

.jobtree .depart-header .icon {
  display: inline-block;
  height: 0.3em;
  width: 0.3em;
  border-left: 2px solid #FEFFFF;
  border-bottom: 2px solid #FEFFFF;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: baseline;
}

.jobtree .depart-header .number {
  background: #4F6974;
  padding: 0 0.8em 0.1em;
  margin-right: -0.8em;
  border-radius: 0.8em;
}

/* 部门 - 列表项 */

.jobtree .department li {
  height: 1.6em;
  line-height: 1.6em;
}

/* 内联元素对齐 */
.jobtree .depart-header > *, .jobtree .department li > * {
  vertical-align: middle;
}